type arielguardian, domain, mlstrustedobject;

allow arielguardian self:capability dac_override;
allow arielguardian system_data_ifw:dir { mounton rmdir };
allow arielguardian shell_exec:file rx_file_perms;

allow arielguardian system_data_ifw:file create_file_perms;
allow arielguardian system_data_ifw:dir create_dir_perms;

file_type_auto_trans(arielguardian, system_data_file, system_data_ifw)
