# If your application runs in system_app domain
# by using android.uid.system shared user id in your manifest file,
# then use system_app domain. If not, use platform_app domain
# instead.

# allow system_app to write to ifw folder
allow system_app system_data_ifw:file create_file_perms;
allow system_app system_data_ifw:dir create_dir_perms;

# allow system_app to create named pipes (used for realm support)
allow system_app fuse:fifo_file create;
allow system_app system_app_data_file:fifo_file create;
allow system_app system_app_data_file:fifo_file { read write };
allow system_app system_app_data_file:fifo_file open;

